.label {
    -fx-font-family: Quicksand;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: #43617c;
    -fx-border-width: 1.0;
    -fx-font-weight: bold;
    -fx-font-family: Quicksand;
    -fx-prompt-text-fill: #5f6266;
}

.tree-table-row-cell:selected {
    -fx-background-color: #c6878f;
}

.tree-table-view {
    -fx-font-fill: black;
    -fx-font-family: Quicksand;
    -fx-font-weight: bold;
}

.tree-table-view:focused .tree-table-row-cell:selected .tree-table-cell {
    -fx-text-fill: white;
    -fx-font-family: Quicksand;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.tree-table-view .tree-table-cell {
    -fx-alignment: center;
}

.jfx-date-picker,
.jfx-time-picker {
    -jfx-default-color: #43617c;
    -fx-font-family: Quicksand;
    -fx-font-size: 14px;
}

.jfx-date-picker .jfx-text-field,
.jfx-time-picker .jfx-text-field {
    -fx-alignment: center;
    -fx-border-color: white !important;
    -fx-border-width: 0 !important;
}