.text {
    -fx-font-family: Quicksand;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.ico {
    -fx-fill: #43617c;
    -fx-font-size: 1em !important;
}


.button:hover {
    -fx-effect: dropshadow(gaussian, rgb(126.0, 130.0, 135.0, 0.3), 10.0, 0.7, 0.5,1.5);
    -fx-cursor: hand;
}

.button-raised {
     -fx-font-size: 14px;
     -jfx-button-type: RAISED;
     -fx-text-fill: WHITE;
 }

.white {
    -fx-background-color: white;
}


.jfx-list-cell:selected{
    -fx-background-color: #90708c;
}

.jfx-list-cell{
    -fx-background-insets: 0.0;
}

.jfx-list-cell:hover {
    -fx-background-color: #e3e5e8;
}

.jfx-rippler {
    -jfx-rippler-fill: #c6878f;
}

.jfx-list-view {
    -fx-background-insets: 0;
    -fx-cell-vertical-margin: 10.0;
    -fx-vertical-gap: 10;
    -fx-pref-width: 150;
}

.data0.chart-bar,
.data1.chart-bar,
.data2.chart-bar,
.data3.chart-bar,
.data4.chart-bar,
.data5.chart-bar,
.data6.chart-bar,
.data7.chart-bar {
    -fx-background-color: #53dd6c;
}