.text_title {
    -fx-font-family: Quicksand;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.text {
    -fx-font-family: Quicksand;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}


.btnRaisedGreenDark {
    -fx-background-color: #006064;
    -fx-text-fill: white;
    -fx-font-family: Quicksand;

    -fx-font-weight: bold;

}

.btnRaisedGreenDarkGrass {
     -fx-background-color: #33691e;
     -fx-text-fill: white;
     -fx-font-family: Quicksand;

     -fx-font-weight: bold;
 }

.btnRaisedRed {
     -fx-background-color: #c62828;
     -fx-text-fill: white;
     -fx-font-family: Quicksand;

     -fx-font-weight: bold;
 }
.btnRaisedRedEliminar {
    -fx-background-color: #c62828;
    -fx-text-fill: white;
    -fx-font-family: Quicksand;
    -fx-font-weight: bold;
}

.btnRaisedGreenCancelar {
    -fx-background-color: #006064;
    -fx-text-fill: white;
    -fx-font-family: Quicksand;
    -fx-font-weight: bold;
}

.white {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 2.5, 0.8, 0.0,0.0);
}

.white:hover {
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 6.5, 0.8, 0.0,0.0);
}

.ico {
    -fx-fill: #43617c;
    -fx-font-size: 2;
}



.text-field {
    -fx-background-color: white;
    -fx-border-color: #43617c;
    -fx-border-width: 1.0;
    -fx-font-weight: bold;
    -fx-font-family: Quicksand;
    -fx-prompt-text-fill: #5f6266;
}

.jfx-button {
    -fx-background-color: #43617c;
    -fx-text-fill: white;
    -fx-font-family: Quicksand;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -jfx-button-type: RAISED;
}

.tree-table-row-cell:selected {
    -fx-background-color: #c6878f;
}

.jfx-radio-button {
    -fx-font-fill: black;
    -fx-font-family: Quicksand;
    -fx-font-weight: bold;
}

.tree-table-view {
    -fx-font-fill: black;
    -fx-font-family: Quicksand;
    -fx-font-weight: bold;
}

.tree-table-view:focused .tree-table-row-cell:selected .tree-table-cell {
    -fx-text-fill: white;
    -fx-font-family: Quicksand;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.tree-table-view .tree-table-cell {
    -fx-alignment: center;
}


